body,html{margin:0; padding:0; }
body 
{ 
	background-color: #960; font: 12px "trebuchet ms"; 
}
#socialbar {
	color: #fff;
	margin-top: -60px;
	transition: margin-top 0.2s ease-out;
	-webkit-transition: margin-top 0.2s ease-out;
	-moz-transition: margin-top 0.2s ease-out;
	-o-transition: margin-top 0.2s ease-out;
}
#socialbar:hover {
	margin-top: 0px;	
}
.social {
	position: absolute;
	top:0px;
	left: 20px;
	padding: 3px 10px 5px 10px;
	background-color: #850;	
	box-shadow: #630 1px 2px 5px;
}
.social a
{
	display: inline-block;
	width: 50px;
	height: 50px;		
	background-size: 44px 44px;
	background-position: center center;
	background-repeat: no-repeat;
	margin-left: 5px;
}
.social a:hover
{		
	background-size: 50px 50px;
	box-shadow: #fff 0px 0px 10px;
}
.social a:first-child
{
	margin-left: 0px;
}
.social .buttons span
{
	display: none;
	visibility: hidden;
}
.social a.twitter
{
	background-image: url('/graphics/social-logos/twitter-bird-white-on-blue.png');	
}
.social a.facebook
{
	background-image: url('/graphics/social-logos/f_logo.png');
}
.social a.gplus
{
	background-image: url('/graphics/social-logos/gplus-64.png');	
}
.social .handle
{
	margin-top: 2px;
	padding-top: 2px;
	height: 12px;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}
.information
{
	margin-top: 150px;
}
.information .the-question
{
	color: #630;
	font-size: 200%;
	margin: 0;
	text-align: center;
	text-shadow: #C90 0px 1px 0px;
}
.information .the-answer 
{
	font-size: 1200%;
	margin: 0;
	text-align: center;
	color: #fff;
}
.loading span
{
	padding-right: 20px;
	background-image: url('/graphics/loading-small-white.gif');
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 12px;
}