<!doctype html>
<html lang="sv">
	<head>
		<meta charset="utf-8" />
		<meta property="og:title" content="Är det kebabfredag?" />
		<meta property="og:image" content="http://ere.kebabfredag.nu/kebabfredag_logo.png}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://ere.kebabfredag.nu" />
		<title><%if (answer) { %>Jepp, det är kebabfredag!<% } else { %>Är det kebabfredag?<% } %></title>
		<link type="text/css" rel="stylesheet" href="/app.css"/>
	</head>
	<body>
		<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-22446416-1', 'auto');
ga('send', 'pageview');
		</script>
		<aside class="social">
			<div class="fb-like" data-href="https://www.facebook.com/kebabfredag" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ere.kebabfredag.nu" data-lang="sv" data-hashtags="kebabfredag">Tweeta</a>
		</aside>
		<article>
			<section class="question">
				<h1>Är det kebabfredag?</h1>
				<p id="answer">
				<% if (answer) { %>
				Jepp!
				<% } else { %>
				Nepp.
				<% } %>
				</p>
			</section>
		</article>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=525233347533182";
fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</body>
</html>

