<!doctype html>
<html lang="sv" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta property="og:title" content="Är det kebabfredag?" />
    <meta property="og:image" content="http://ere.kebabfredag.nu/kebabfredag_logo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ere.kebabfredag.nu" />
    <title><%if (answer) { %>Jepp, det är kebabfredag!<% } else { %>Är det kebabfredag?<% } %></title>
    <link type="text/css" rel="stylesheet" href="/app.css"/>
  </head>
  <body>
   <article>
      <section class="question">
        <h1>Är det kebabfredag?</h1>
        <p id="answer">
          <% if (answer) { %>
          Jepp!
          <% } else { %>
          Nepp.
          <% } %>
        </p>
      </section>
    </article>
  </body>
</html>

